@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(https://github.com/manpreet-singh/manpreet-singh.github.io/blob/master/resources/fonts/SourceSansPro-Regular.otf?raw=true) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url(https://manpreet-singh.github.io/resources/fonts/SourceSansPro-Semibold.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro-It';
    src: url(https://manpreet-singh.github.io/resources/fonts/SourceSansPro-It.otf) format("opentype");
}

.wrapper {
    font-family: 'SourceSansPro-Regular', 'Helvetica', 'Arial';
    margin: auto;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.75);
    background-blend-mode: lighten;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.wrapper header {
    font-family: 'SourceSansPro-Regular';
    text-align: center;
    font-size: 80px;
    color: rgba(122,89,228,0.75);
}

.wrapper h1 {
    font-family: 'Arial';
    text-align: left;
    font-size: 30px;
}

.wrapper .toc {
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    width: 30%;
    display: table;
    padding-left: 
}

.wrapper .toc p {
    font-family: 'SourceSansPro-It';
    padding-left: 25px;
    color: red;
}

.wrapper .toc ul {
    padding-left: 50px;
}

p {
    padding-left: 30px;
    line-height: 25px;
    font-family: 'SourceSansPro-Regular';
}

img {
    float: right;
    width: 25%;
    height: auto;
}

footer {
    font-family: 'SourceSansPro-Semibold';
    text-align: center;
    padding-top: 20px;
}